body {margin:0;}


h1 {
    background: red;
    border: 1px solid red;
    border-radius: 20px;
    color: ghostwhite;
    display: inline-block;
    padding: 15px;
    font-size: 40px;
    position: static;
    margin-top: 8%;

}

a{
    text-align: start;
    padding: 20px;
    font-size: 20px;
    background-color:#f44336;
color:white;
    display:inline-block;
}


p{
    font-size: 18px;
}
.descr{
    color:red;
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: lightcoral;
}

h2{
    font-size: 30px;
    font-style: oblique;
    margin-right:10%;
    margin-top:8%;

}

.bigger{
    width:100%;
    height:auto
}

.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f44336;
}


.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

